
  <nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1">Gestión de Usuarios</span>
  </nav>

<div class="container">
  <div class="row">
    <div class="col">
      <app-busqueda-usuario [(usuarioBuscado)] = "usuarioBuscado"
        [(arregloUsuarios)] = "arregloUsuarios"
        [(cantidadUsuarios)] = "cantidadUsuarios"></app-busqueda-usuario>
      <app-lista-usuarios [(arregloUsuarios)] = "arregloUsuarios"
        [(usuarioSeleccionado)] = "usuarioSeleccionado"
        [(inactivarGuardar)] = "inactivarGuardar"
        [(inactivarEditElimi)] = "inactivarEditElimi"
        [(cantidadUsuarios)] = "cantidadUsuarios"></app-lista-usuarios>

      <app-informacion-usuario [(arregloUsuarios)] = "arregloUsuarios"
        [(usuarioSeleccionado)] = "usuarioSeleccionado"
        [(inactivarGuardar)] = "inactivarGuardar"
        [(inactivarEditElimi)] = "inactivarEditElimi"
        [(cantidadUsuarios)] = "cantidadUsuarios"></app-informacion-usuario>
    </div>
  </div>
</div>

